#box{
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -300px;
    width: 400px;
    height: 600px;
    border: 10px solid #f60;
    border-top: 10px solid #fff;
}