/*游戏界面样式初始化*/
*{
    padding: 0;
    margin: 0;
}
.start,.map,.end{
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -575px;
    margin-top: -310px;
    width: 1000px;
    height: 600px;
    border: 10px solid #666;   
}



