/*开始页面样式*/
.start-player{
    position: absolute;
    left: 50%;
    top: 300px;
    width: 600px;
    height: 300px;
    margin-left: -300px;
    background-color: #ff0;
}

.player1,.player2{
    position: absolute;
    height: 110px;
    width: 260px;
    margin: 10px;
    text-align: center;
    line-height: 110px;
    border-radius: 20px;
    border: 10px solid #06f;
    cursor: pointer;
    font-size: 30px;
    color: #066;
    
}
.player1{

}
.player2{
    left: 300px;
}